<template>
    <overlay>
        <div class="ui middle aligned center aligned grid"> 
            <div class="column" style="max-width: 60%;">
                <form submit.delegate="createSource()" role="form" class="ui large form ${className}">
                    <p>Browse your favourite shopping site and paste the product URL</p>
                    <div class="ui large right action input">
                        <input value.bind="newAlertUrl" type="url" placeholder="Url" autofocus>
                        <button class="ui primary primary-action button ${newAlertUrl.length ? '' : 'disabled'}">
                            <i class="add icon"></i>
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="ui padded basic segment source-list">
            <div class="ui four column center aligned relaxed stackable grid container">
                <div class="row">
                    <div repeat.for="source of sources" class="column">
                        <a href.bind="source.url" target="_blank"
                            data-analytics-category="Outbound Link"
                            data-analytics-action="click"
                            data-analytics-label.bind="source.url">
                            <h2 class="ui icon header logo">
                                <img class="ui icon image" src="/images/${source.domain}.png" alt.bind="source.name">
                            </h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </overlay>
</template>