<template>
    <form class="ui ${class} form" submit.delegate="createSource()" role="form">
        <h4 class="ui sub header">New Alert</h4>
        <p>Add a new alert to your collection!</p>

        <div class="ui tiny visible info message">
            <div class="header">
                At the moment, these sites are supported: 
            </div>
            <ul class="ui divided items">
                <li repeat.for="source of sources" class="item">
                    <div class="ui tiny image">
                        <img src="/images/${source.domain}.png" alt.bind="source.name">
                    </div>
                    <a class="middle aligned content" target="_blank" href.one-time="source.url">
                        ${source.name}
                    </a>
                </li>
            </ul>
        </div>

        <div class="field six columns wide">
            <div class="ui right action input">
                <input value.bind="newAlertUrl" type="url" placeholder="Url">
                <button class="ui teal button ${newAlertUrl.length ? '' : 'disabled'}">
                    <i class="add icon"></i>
                    Add
                </button>
            </div>
        </div>
        
        <div class="ui button" click.delegate="cancelSource()">Cancel</div>
    </form>
</template>