<template>
    <overlay class-name="${id}">
        <form submit.delegate="saveList()" role="form" class="ui large form ${isWorking ? 'loading' : ''}">
            <h3 class="ui centered header" i18n="lists.create.title">Create a list with the alerts you want</h3>
            <div class="field">
                <div class="ui centered grid">
                    <div class="eight wide column">
                        <div class="ui large right action input" style="width: 100%;">
                            <input value.bind="name" type="text" placeholder="Name" i18n="[placeholder]lists.create.name" autofocus style="width: auto;">
                            <button class="ui primary primary-action button ${name ? '' : 'disabled'}" i18n="[append]lists.create.save">
                                <i class="add icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </overlay>
</template>
