<template>
    <overlay class-name="add-product ${id}">
        <form submit.delegate="createProduct()" role="form" class="ui large add-product form ${isWorking ? 'loading' : ''}">
            <div class="ui one column center aligned grid">
                <div class="title-column column">
                    <h3 i18n="products.browse">Browse your favourite shopping site and paste the product URL</h3>
                </div>
                <div class="input-column column">
                    <div class="ui large right action input" style="width: 100%;">
                        <input value.bind="newAlertUrl" type="url" placeholder="Url" autofocus style="width: auto;">
                        <button class="ui primary primary-action button ${newAlertUrl.length ? '' : 'disabled'}" i18n="[append]products.add">
                            <i class="add icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        
        <div class="ui padded basic segment store-list">
            <div class="ui four column doubling grid">
                <div class="row">
                    <div repeat.for="store of stores" class="column store-item ${!store.isAvailable ? 'unavailable' : ''}">
                        <a href.bind="store.url" target="_blank" if.one-time="store.isAvailable"
                            data-analytics-category="Outbound Link"
                            data-analytics-action="click"
                            data-analytics-label="store">
                            <h2 class="ui icon header logo">
                                <img class="ui icon image" src="/images/${store.domain}.png" alt.bind="store.name">
                            </h2>
                        </a>
                        <a style="display: block;" if.one-time="!store.isAvailable" i18n="[data-tooltip]products.storeUnavailable">
                            <h2 class="ui icon header logo">
                                <img class="ui icon image" src="/images/${store.domain}.png" alt.bind="store.name">
                            </h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </overlay>
</template>
