<template>
    <div class="primary-dark" style="color: white;">
        <div class="ui container" style="position: relative;">
            <div class="ui inverted secondary pointing menu" style="padding: 1em 0;">
                <a route-href="route: alerts" class="item">
                    <img src="/images/pricewise-logo.png">
                    <span class="mobile hidden" style="padding-left: 1em;">PriceWise</span>
                </a>

                <div class="right icon menu">
                    <a class="item" click.delegate="changeLanguage()">
                        <span class="ui basic inverted icon button" i18n="otherLanguage">Language</span>
                    </a>
                    <a class="item" route-href="route: settings">
                        <i class="large settings icon"></i>
                    </a>
                    <a class="item" click.delegate="logout()">
                        <i class="large sign out icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>
