<template bindable="message" containerless>
    <div class="ui small basic confirmation modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            ${message | t: {context: 'title' } & oneTime}
        </div>
        <div class="content">
            <p>${message | t: {context: 'description' } & oneTime}</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button" i18n="[append]modal.no">
                <i class="remove icon"></i>
            </div>
            <div class="ui green ok inverted button" i18n="[append]modal.yes">
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
</template>