<template>
    <div class="ui small basic confirmation modal ${id}">
        <div class="ui icon header">
            <i class="archive icon"></i>
            <slot name="header"></slot>
        </div>
        <div class="content">
            <p>
                <slot name="content"></slot>
            </p>
        </div>
        <div class="actions">
            <div class="mobile hidden">
                <div class="ui red basic cancel inverted button" i18n="[append]modal.no">
                    <i class="remove icon"></i>
                </div>
                <div class="ui green ok inverted button" i18n="[append]modal.yes">
                    <i class="checkmark icon"></i>
                </div>
            </div>
            <div class="ui two column mobile only grid">
                <div class="column">
                    <div class="ui red basic cancel inverted button" i18n="[append]modal.no" style="display: block;">
                        <i class="remove icon"></i>
                    </div>
                </div>
                <div class="column">
                    <div class="ui green ok inverted button" i18n="[append]modal.yes" style="display: block;">
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
