<template bindable="header,message" containerless>
    <div class="ui small basic confirmation modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            ${header}
        </div>
        <div class="content">
            <p>${message}</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
</template>