body {
  margin: 0;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

/* animate page transitions */
section.au-enter-active {
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  animation-delay: 50ms;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ui.form .field.h3 input:not([type]), 
.ui.form .field.h3 input[type=date],
.ui.form .field.h3 input[type=datetime-local],
.ui.form .field.h3 input[type=email], 
.ui.form .field.h3 input[type=file], 
.ui.form .field.h3 input[type=number],
.ui.form .field.h3 input[type=password],
.ui.form .field.h3 input[type=search], 
.ui.form .field.h3 input[type=tel],
.ui.form .field.h3 input[type=text],
.ui.form .field.h3 input[type=time],
.ui.form .field.h3 input[type=url] {
    font-size: 1.28571429rem;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
}

.price-alerts .ui.transparent.icon.input > input {
    padding-left: 1em !important;
    padding-right: 3em !important;
}

.ui.icon.input.h3 > i.icon {
    font-size: 1.28571429rem;
}
.ui.icon.input.transparent > i.icon {
    width: 2.67142857em !important;
}
.ui.icon.input.transparent > i.icon {
    opacity: 0;
}
.ui.icon.input.transparent:hover > i.icon {
    opacity: 0.5;
}
.ui.icon.input.transparent > input:focus ~ i.icon {
    opacity: 1;
}

.ui.form .field.transparent input:not([type]), 
.ui.form .field.transparent input[type=date],
.ui.form .field.transparent input[type=datetime-local],
.ui.form .field.transparent input[type=email], 
.ui.form .field.transparent input[type=file], 
.ui.form .field.transparent input[type=number],
.ui.form .field.transparent input[type=password],
.ui.form .field.transparent input[type=search], 
.ui.form .field.transparent input[type=tel],
.ui.form .field.transparent input[type=text],
.ui.form .field.transparent input[type=time],
.ui.form .field.transparent input[type=url] {
    border-color: transparent !important;
}
.ui.form .field.transparent:hover input:not([type]), 
.ui.form .field.transparent:hover input[type=date],
.ui.form .field.transparent:hover input[type=datetime-local],
.ui.form .field.transparent:hover input[type=email],
.ui.form .field.transparent:hover input[type=file],
.ui.form .field.transparent:hover input[type=number],
.ui.form .field.transparent:hover input[type=password],
.ui.form .field.transparent:hover input[type=search],
.ui.form .field.transparent:hover input[type=tel],
.ui.form .field.transparent:hover input[type=text],
.ui.form .field.transparent:hover input[type=time],
.ui.form .field.transparent:hover input[type=url] {
    border-color: rgba(34,36,38,.15) !important;
}
.ui.form .field.transparent input:not([type]):focus, 
.ui.form .field.transparent input[type=date]:focus,
.ui.form .field.transparent input[type=datetime-local]:focus,
.ui.form .field.transparent input[type=email]:focus, 
.ui.form .field.transparent input[type=file]:focus,
.ui.form .field.transparent input[type=number]:focus,
.ui.form .field.transparent input[type=password]:focus,
.ui.form .field.transparent input[type=search]:focus,
.ui.form .field.transparent input[type=tel]:focus,
.ui.form .field.transparent input[type=text]:focus,
.ui.form .field.transparent input[type=time]:focus,
.ui.form .field.transparent input[type=url]:focus {
    border-color: #85B7D9 !important;
}

.ui.form input[disabled].no-input {
    box-shadow: none;
    border: none;
    text-align: right;
    opacity: 1;
}

.ui.items > .inactive.item > .image::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
}

#welcome .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}
#welcome .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
#welcome .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
#welcome .ui.vertical.stripe {
    padding: 8em 0em;
}
#welcome .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

#login {
    height: 100%;
}
#login .column {
    max-width: 450px;
}