<template>
    <require from="./alert-card.html"></require>

    <div class="ui one column grid mobile only">
        <div class="column">
            <div class="ui icon large primary primary-action button" style="display: block; margin: 0;" click.delegate="add()" i18n="[append]alerts.createAlert"
                data-analytics-category="Alerts"
                data-analytics-action="add"
                data-analytics-label="button">
                <i class="plus icon"></i>
            </div>
        </div>
    </div>
    <div class="ui one column grid">
        <div class="column">
            <div class="ui link cards">
                <a class="ui mobile hidden add-alert card" click.delegate="add()"
                    data-analytics-category="Alerts"
                    data-analytics-action="add"
                    data-analytics-label="card">
                    <div class="ui image" style="height: 100%;">
                        <img src="/images/plus-icon.png"
                            style="width: 160px; height: 160px; top: calc(50% - 80px); left: calc(50% - 80px); position: absolute;">
                    </div>
                </a>
                <alert-card repeat.for="alert of alerts | sort:'title'" alert.one-time="alert" style="border-radius: 2px;" containerless>
                    <div slot="top-action">
                        <i class="right floated red circular button remove icon" click.delegate="confirmRemoveAlert(alert)"
                            data-analytics-category="Alerts"
                            data-analytics-action="remove"></i>
                    </div>
                    <div slot="bottom-action">
                        <a class="right floated primary-action-hover" click.delegate="activateAlert(alert)" hide.bind="alert.isActive"
                            i18n="[append]alert.activate"
                            data-analytics-category="Alerts"
                            data-analytics-action="activate">
                            <i class="toggle on icon"></i>
                        </a>
                    </div>
                </alert-card>
            </div>
        </div>
    </div>
    <div class="ui one column grid mobile only">
        <div class="column">
            <div class="ui icon large primary primary-action button" style="display: block; margin: 0;" click.delegate="add()" i18n="[append]alerts.createAlert"
                data-analytics-category="Alerts"
                data-analytics-action="add"
                data-analytics-label="button">
                <i class="plus icon"></i>
            </div>
        </div>
    </div>

    <confirmation-modal message="alerts.deleteConfirmation" class-name="delete-alert"></confirmation-modal>
</template>
