<template>
    <div class="alert-card ${alert.isActive ? 'green' : 'inactive'} card">
        <div class="content">
            <slot name="top-action"></slot>
            <a class="header" click.delegate="navigateToAlert(alert)">${alert.title}</a>
            <div class="meta">
                <small i18n="[prepend]alert.lastUpdatedTime">${alert.bestCurrentDeal.modifiedAt & rt}</small>
            </div>
        </div>
        <a click.delegate="navigateToAlert(alert)" class="image">
            <img class="${alert.isPortaitSize ? 'portrait' : ''} ${alert.isLandscapeSize ? 'landscape' : ''}" src.bind="alert.imageUrl">
        </a>
        <div class="extra content">
            <a href.bind="alert.bestCurrentDeal.productUrl" target="_blank" class="right floated" show.bind="alert.isActive"
                data-analytics-category="Outbound Link"
                data-analytics-action="click"
                data-analytics-label="originalUrl">
                ${alert.bestCurrentDeal.price | nf: { style: 'currency', currency: 'CAD'}}
                <span i18n="alert.priceAt"></span>
                <img class="ui avatar image" src="/images/${alert.bestCurrentDeal.source.domain}-small.png">
                ${alert.bestCurrentDeal.source.name}
            </a>
            <slot name="bottom-action"></slot>
        </div>
    </div>
</template>
