<template>
    <require from="./alert-card"></require>

    <div class="ui one column grid mobile only">
        <div class="column">
            <div class="ui icon large primary primary-action button" style="display: block; margin: 0;" click.delegate="add()" i18n="[append]alerts.createAlert"
                data-analytics-category="Alerts"
                data-analytics-action="add"
                data-analytics-label="button">
                <i class="plus icon"></i>
            </div>
        </div>
    </div>
    <div class="ui one column grid">
        <div class="column">
            <div class="ui link cards">
                <a class="ui mobile hidden add-alert card" if.one-time="add" click.delegate="add()"
                    data-analytics-category="Alerts"
                    data-analytics-action="add"
                    data-analytics-label="card">
                    <div class="ui image" style="height: 100%;">
                        <img src="/images/plus-icon.png"
                            style="width: 160px; height: 160px; top: calc(50% - 80px); left: calc(50% - 80px); position: absolute;">
                    </div>
                </a>
                <alert-card repeat.for="alert of alerts | sort:'title'" alert.one-time="alert" style="border-radius: 2px;" containerless>
                    <div slot="top-action" if.one-time="!isReadOnly">
                        <i class="right floated circular button">
                            <div class="ui fitted radio checkbox">
                                <input type="checkbox" class="hidden" model.bind="alert" checked.bind="selectedAlerts">
                                <label></label>
                            </div>
                        </i>
                    </div>
                    <div slot="bottom-action" if.one-time="!isReadOnly">
                        <a class="right floated primary-action-hover" click.delegate="activate({ alert: alert })" hide.bind="alert.isActive"
                            i18n="[append]alert.activate"
                            data-analytics-category="Alerts"
                            data-analytics-action="activate">
                            <i class="toggle on icon"></i>
                        </a>
                    </div>
                </alert-card>
            </div>
        </div>
    </div>
    <div class="ui one column grid mobile only">
        <div class="column">
            <div class="ui icon large primary primary-action button" style="display: block; margin: 0;" click.delegate="add()" i18n="[append]alerts.createAlert"
                data-analytics-category="Alerts"
                data-analytics-action="add"
                data-analytics-label="button">
                <i class="plus icon"></i>
            </div>
        </div>
    </div>
</template>
