<template>
    <overlay class-name="${id}">
        <form submit.delegate="createList()" role="form" class="ui large form ${className}">
            <h3 class="ui centered header" i18n="lists.create.title">Create a list with the alerts you want</h3>
            <div class="field">
                <div class="ui centered grid">
                    <div class="eight wide column">
                        <input value.bind="name" type="text" placeholder="Name" autofocus="" i18n="[placeholder]lists.create.name">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="ui centered grid">
                    <div class="ten wide column">
                        <div class="ui middle aligned very relaxed divided selection list">
                            <div repeat.for="alert of alerts | sort:'title'"  class="item">
                                <div class="inline field">
                                    <img class="ui avatar image" src.one-time="alert.imageUrl">
                                    <div class="ui checkbox">
                                        <input type="checkbox" class="hidden" model.bind="alert" checked.bind="selectedAlerts">
                                        <label>${alert.title}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui centered grid">
                <div class="ten wide column">
                    <button class="ui right floated primary-action primary button" type="submit" i18n="lists.create.save">Save</button>
                </div>
            </div>
        </form>
    </overlay>
</template>
