<template>
    <require from="./list-label"></require>

    <div class="ui text menu" style="margin-top: 0; padding-top: 1em;">
        <list-label if.bind="selectAllEnabled && lists.length"
            click.call="selectList()"
            label="${'lists.noFilter' | t}"
            class-name="${selectedList ? 'transparent' : 'primary-action'}"></list-label>
        <list-label repeat.for="list of lists | sort:'name'"
            list.one-way="list"
            label.one-way="list.name"
            click.call="selectList(list)"
            delete.call="deleteList(list)"
            share.delegate="share && !list.isPublic ? shareList(list) : undefined"
            unshare.delegate="unshare && list.isPublic ? unshareList(list) : undefined"
            class-name="${$parent.selectedList.id === list.id ? 'primary-action' : 'transparent'}"></list-label>
    </div>
</template>
