<template>
    <div class="item">
        <div class="ui left labeled button">
            <a class="ui basic label" click.delegate="click({ list: list })">${label}</a>
            <div if.one-time="unshare" class="ui icon button" style="border-radius: 0" click.delegate="unshare({ list: list })"
                data-analytics-category="List"
                data-analytics-action="unshare">
                <i class="stop share icon"></i>
            </div>
            <div if.one-way="share" class="ui icon button" style="border-radius: 0" click.delegate="share({ list: list })"
                data-analytics-category="List"
                data-analytics-action="share">
                <i class="external share icon"></i>
            </div>
            <div if.one-time="delete" class="ui icon button" click.delegate="delete({ list: list })"
                data-analytics-category="List"
                data-analytics-action="delete">
                <i class="delete share icon"></i>
            </div>
        </div>
    </div>
</template>
