<template>
    <require from="./list-label"></require>

    <div class="ui text menu">
        <div class="item">
            <a class="ui red large label" click.delegate="add()" i18n="[append]lists.createButton">
                <i class="plus icon"></i>
            </a>
        </div>
        <list-label if.bind="lists.length"
            click.call="selectList()"
            label="${'lists.noFilter' | t}"
            class-name="${selectedList ? 'transparent' : 'primary-action'}"></list-label>
        <list-label repeat.for="list of lists | sort:'name'"
            list.one-time="list"
            click.call="selectList(list)"
            delete.call="confirmDeleteList(list)"
            class-name="${$parent.selectedList == list ? 'primary-action' : 'transparent'}"></list-label>
    </div>

    <confirmation-modal message="lists.deleteConfirmation" class-name="delete-list"></confirmation-modal>
</template>
